<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="profile">
      <img src="{{ site.baseurl }}/public/img/profile.jpg" width="150" height="150" alt="profile image" />
    </div>
    <p>{{ site.description }}</p>
    <a href="{{ site.github_url }}"><span class="icon icon--github">{% include icon-github.svg %}</span></a>
    <a href="{{ site.twitter_url }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
    <a href="https://de.linkedin.com/pub/uldis-baurovskis/bb/146/50a"><span class="icon-linkedin"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" alt="linkedin" width="30" height="25"/></span></a>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
  <div class="sidebar-item">
    <p>
      Legal:
    </p>
    <p class="legal">
      Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.

      Android, Google Play, and the Google Play logo are trademarks of Google Inc.
    </p>
  </div>
</div>
